@import java.util
@import views.html.helpers.deleteButton
@(users: util.Set[User], organisation: Organisation)

    @main("Administrators") {

        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                        <!-- /.box-header -->
                    <div class="box-body">
                        <table class="table table-bordered table-hover dataTable">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>E-Mail</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for(user <- users) {
                                    <tr>
                                        <th>@user.getName</th>
                                        <th>@user.getEmail</th>
                                        <th>
                                            @deleteButton(
                                                controllers.routes.OrganisationsUsersController.delete(user.getId),
                                                user.getId,
                                                "Remove Administrator",
                                                "Do you want to remove this administrator?"
                                            )
                                        </th>
                                    </tr>
                                }

                                <tr>
                                    <th></th>
                                    <th>
                                        <a href="@controllers.routes.OrganisationsUsersController.add()" class="btn btn-primary">
                                            Add Administrator</a>
                                    </th>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>

            </div>
        </div>

    }
