@import controllers.routes
@import views.html.bootstrapHelpers.text
@import views.html.bootstrapHelpers.globalerrors
@(organisationForm: Form[Organisation])

@main("Organisation Settings " + organisationForm.get().getName) {

    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-body">


                @helper.form(action = routes.OrganisationsController.update(organisationForm.get().getId)) {

                    <fieldset>
                        @text(organisationForm("name"),
                            label = "Name",
                            placeholder = "Product name"
                        )

                        @globalerrors(organisationForm)

                    </fieldset>


                    <div class="form-actions">
                        <input type="submit" id="login" class="btn btn-primary" value="Save">
                    </div>

                }

                </div>
            </div>
        </div>
    </div>

}
