@import java.util
@(organisations: util.List[Organisation])

    @main("Organisations") {

        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                        <!-- /.box-header -->
                    <div class="box-body">
                        <table class="table table-bordered table-hover dataTable">
                            <thead>
                                <tr>
                                    @*<th>ID</th>*@
                                    <th>Name</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for(organisation <- organisations) {
                                    <tr>
                                        @*<th>@organisation.getId</th>*@
                                    <th>@organisation.getName</th>
                                    <th>
                                        <a href="@controllers.organisations.routes.Organisations.edit(organisation.getId)"
                                        class="btn btn-info btn-sm"
                                        role="button">Edit</a>



                                        <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#myModal@organisation.getId">Delete</button>

                                            <!-- Modal dialog for delete button -->
                                        <div class="modal fade" id="myModal@organisation.getId" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                        <h4 class="modal-title" id="myModalLabel">Delete zone</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        <p>Do you want to this Organisation?</p>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                                                        <a href="@controllers.organisations.routes.Organisations.delete(organisation.getId)" class="btn btn-danger btn-sm" role="button">Delete</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                    </th>
                                    </tr>
                                }

                                <tr>
                                    <th></th>
                                    <th>
                                        <a href="@controllers.organisations.routes.Organisations.add()" class="btn btn-primary">
                                            Add</a>
                                    </th>
                                </tr>
                            </tbody>
                        </table>

                    </div> <!-- /.box-body -->
                </div>

            </div>
        </div>

    }
