@import views.html.bootstrapHelpers._
@(userForm: Form[User])
    @main("Register") {

        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-body">
                    @helper.form(action = routes.UsersController.create(), 'class -> "form-horizontal") {

                        <fieldset>
                            @text(userForm("name"),
                                label = "Name",
                                placeholder = "Your Name"
                            )

                            @text(userForm("email"),
                                label = "Email",
                                placeholder = "Email Address"
                            )

                            @password(userForm("password"),
                                label = "Password",
                                placeholder = ""
                            )
                        </fieldset>

                        <div class="form-actions">
                            <input type="submit" class="btn btn-primary" value="Register">
                            <small class="pull-right"><a href="#">Forgot Password</a></small>
                        </div>
                        }
                    </div>
                </div>
            </div>
        </div>

    }