@import java.util
@(allCustomers: util.List[Customer])

@main("Customers") {
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                    <!-- /.box-header -->
                <div class="box-body">
                    <table class="table table-bordered table-hover dataTable">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Token</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for(customer <- allCustomers) {
                                <tr>
                                    <th>@customer.getFamilyName</th>
                                    <th>@customer.getGivenName</th>
                                    <th>@customer.getEmail</th>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div> <!-- /.box-body -->
            </div>
        </div>
    </div>
}
