@import scala._
@(orderId: UUID)

@main("",

    styleSheets = List(
        "http://openlayers.org/en/v3.14.2/css/ol.css",
        routes.Assets.at("stylesheets/toastr.min.css").toString,
        routes.Assets.at("stylesheets/ol3-popup.css").toString,
        routes.Assets.at("stylesheets/ol3-layerswitcher.css").toString
    ),

    javaScripts = List(
        "https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.js",
        routes.Assets.at("javascripts/common/ol-debug-3.14.2.js").toString,
        routes.Assets.at("javascripts/ol3-layerswitcher.js").toString,
        routes.Assets.at("javascripts/ol3-popup.js").toString,
        routes.Assets.at("javascripts/ui-bootstrap-tpls-1.2.5.js").toString,
        routes.Assets.at("javascripts/toastr.js").toString,
        routes.Assets.at("javascripts/common/common.module.js").toString,
        routes.Assets.at("javascripts/common/orders.service.js").toString,
        routes.Assets.at("javascripts/common/projects.service.js").toString,
        routes.Assets.at("javascripts/common/helper.service.js").toString,
        routes.Assets.at("javascripts/common/gis-helper.service.js").toString,
        routes.Assets.at("javascripts/orders/order-viewer.module.js").toString,
        routes.Assets.at("javascripts/orders/order-viewer.directive.js").toString,
        routes.Assets.at("javascripts/orders/order-viewer.ctrl.js").toString,
        routes.Assets.at("javascripts/orders/order-viewer-map.directive.js").toString
    )
) {


    <div class="row" ng-app="OrderViewer">
        <order-viewer order-id="@orderId"></order-viewer>
    </div>


}