@import scala._
@(orderId: UUID)

@main("Route Debugger",
    styleSheets = List(
        "http://openlayers.org/en/v3.14.2/css/ol.css",
        routes.Assets.at("stylesheets/toastr.min.css").toString,
        routes.Assets.at("stylesheets/ol3-popup.css").toString),
    javaScripts = List(
        "https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.js",
        routes.Assets.at("javascripts/common/ol-debug-3.14.2.js").toString,
        routes.Assets.at("javascripts/ui-bootstrap-tpls-1.2.5.js").toString,
        routes.Assets.at("javascripts/jquery-1.11.3.min.js").toString,
        routes.Assets.at("javascripts/toastr.js").toString,
        routes.Assets.at("javascripts/ol3-popup.js").toString,
        routes.Assets.at("javascripts/common/common.module.js").toString,
        routes.Assets.at("javascripts/common/projects.service.js").toString,
        routes.Assets.at("javascripts/common/helper.service.js").toString,
        routes.Assets.at("javascripts/common/gis-helper.service.js").toString
    )
) {


    <div class="row" ng-app="OrderViewer">

    </div>


}