@import controllers.organisations.routes
@(organisationId: java.util.UUID, projectForm: Form[Project])

@main("Project") {

    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-body">

                @helper.form(action = routes.Organisations.create()) {

                    @helper.inputText(projectForm("Name"))
                    @helper.inputText(projectForm("Headquarter Position"))

                    <input type="submit" class="btn btn-primary" value="Speichern" />
                    <a href="@routes.Organisations.index()" class="btn btn-default">Zurück</a>
                }

                </div>
            </div>
        </div>
    </div>

}
