@main("Project") {
    <div ng-app="ProjectsApp" ng-controller="ProjectsController">
        <link rel="stylesheet" href="http://openlayers.org/en/v3.14.2/css/ol.css" type="text/css">

        <script src="http://openlayers.org/en/v3.14.2/build/ol-debug.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.js"></script>
        <script src='@routes.Assets.at("javascripts/projects/projects.module.js")'></script>
        <script src='@routes.Assets.at("javascripts/projects/projects.controller.js")'></script>
        <script src='@routes.Assets.at("javascripts/projects/zoneEditor/zone-map.directive.js")'></script>
        <script src='@routes.Assets.at("javascripts/projects/zoneEditor/zone-map.controller.js")'></script>


        <div class="col-xs-3">
            <h2>Zones</h2>
        </div>
        <div class="col-xs-6">

        </div>
        <div class="col-xs-3">
            <h2>Zone Settings</h2>
        </div>

        <div class="col-xs-3">

            <div class="row panel panel-info" ng-class="{'active': selectedZone == zone}" ng-repeat="zone in zones" ng-click="selectZone(zone)">
                <div class="panel-body">
                    <div class="col-xs-6">
                        {{zone.type}}
                    </div>
                    <div class="col-xs-6">
                        {{zone.height}}
                    </div>
                </div>
            </div>

        </div>
        <div class="col-xs-6">
            <zone-map zones="zones" selected-zone="selectedZone"></zone-map>
        </div>
        <div class="col-xs-3">

            <div class="row">
                <div class="col-xs-6">
                    Height:
                </div>
                <div class="col-xs-6">
                    <input type="text" ng-model="selectedZone.height">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    Type:
                </div>
                <div class="col-xs-6">
                    <input type="text" ng-model="selectedZone.type">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    Area:
                </div>
                <div class="col-xs-6">
                    <textarea ng-model="selectedZone.area"></textarea>
                </div>
            </div>
        </div>


    </div>
}
