@(projectId: java.util.UUID)

@main("") {

    <link rel="stylesheet" href="http://openlayers.org/en/v3.14.2/css/ol.css" type="text/css">
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/xeditable.css")" type="text/css">
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/toastr.min.css")" type="text/css">

    <script src='@routes.Assets.at("javascripts/common/ol-debug-3.14.2.js")'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.js"></script>
    <script src='@routes.Assets.at("javascripts/ui-bootstrap-tpls-1.2.5.js")'></script>
    <script src="@routes.Assets.at("javascripts/jquery-1.11.3.min.js")" type="text/javascript"></script>
    <script src='@routes.Assets.at("javascripts/xeditable.js")'></script>
    <script src='@routes.Assets.at("javascripts/toastr.js")'></script>
    <script src='@routes.Assets.at("javascripts/common/common.module.js")'></script>
    <script src='@routes.Assets.at("javascripts/common/projects.service.js")'></script>
    <script src='@routes.Assets.at("javascripts/common/helper.service.js")'></script>
    <script src='@routes.Assets.at("javascripts/projects/projects.module.js")'></script>
    <script src='@routes.Assets.at("javascripts/projects/projects.controller.js")'></script>
    <script src='@routes.Assets.at("javascripts/projects/zoneEditor/zone-map.directive.js")'></script>
    <script src='@routes.Assets.at("javascripts/projects/zoneEditor/zone-map.controller.js")'></script>

    <div ng-app="ProjectsApp" ng-controller="ProjectsController">
        <div class="row m-r-0 m-l-0 m-b">
            <div class="col-xs-6">
                <div class="site-title"><a href="#" editable-text="project.name">
                    {{project.name || "Click here to change Project Name"}}</a></div>
            </div>
            <div class="col-xs-6">
                <div class="row pull-right">
                    <div class="btn btn-success" ng-click="save()">Save</div>
                </div>
            </div>
        </div>


        <div class="box">
            <div class="box-header">

            </div>

            <div class="box-body">


                <div class="col-xs-4">

                    <input type="hidden" id="projectId" value="@projectId" />

                    <div class="row panel panel-info" ng-click="createZone()">
                        <div class="panel-body">
                            <i class="glyphicon glyphicon-plus"></i>
                            Create new Zone
                        </div>
                    </div>

                    <div class="row panel panel-info" ng-class="{'active': selectedZone === zone}" ng-repeat="zone in zones" ng-click="selectZone(zone)">
                        <div class="panel-body col-xs-12" ng-class="zone.type">
                            <div class="row" ng-hide="selectedZone === zone">
                                <div class="col-xs-6" ng-hide="zone.name">
                                    {{zone.type}}
                                </div>
                                <div class="col-xs-6" ng-show="zone.name">
                                    {{zone.name}}
                                </div>
                                <div class="col-xs-6">
                                    Flyheight {{zone.height}}m
                                </div>
                            </div>

                            <div class="row m-t-md" ng-show="selectedZone === zone">
                                <div class="col-xs-12">
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <input type="text" placeholder="Zone-Name" ng-model="selectedZone.name">
                                        </div>
                                        <div class="col-xs-6">
                                            Flyheight <input type="number" min="5" max="500" ng-model="selectedZone.height">
                                            m
                                        </div>
                                    </div>

                                </div>
                                <div class="col-xs-11 m-t-md">
                                    <div class="btn-group">
                                        <label class="btn btn-primary btn-sm" ng-repeat="type in zoneTypes" ng-model="selectedZone.type" uib-btn-radio="type">
                                            {{type}}</label>
                                    </div>
                                </div>
                                <div class="col-xs-1 m-t-md">
                                    <div class="m-t">
                                        <a href="#" ng-click="deleteZone(selectedZone)"><i class="glyphicon glyphicon-trash"></i></a>
                                    </div>
                                </div>
                            </div>


                        </div>

                    </div>

                </div>


                <div class="col-xs-8">
                    <zone-map ng-if="zones.length" zones="zones" selected-zone="selectedZone"></zone-map>
                </div>
            </div>
        </div>
    </div>
}
