@import b3.vertical.fieldConstructor
@import controllers.routes
@(droneForm: Form[Drone])

@main("Edit Drone") {
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-body">

                    @b3.form(routes.DronesController.update(droneForm.get().getId)) {
                        @b3.text(droneForm("name"), '_label -> "Name", 'placeholder -> "Drone Name")
                        @b3.text(droneForm("payload"), '_label -> "Payload in grams", 'placeholder -> "Payload in grams")
                        @b3.checkbox(droneForm("isActive"), '_text -> "Active")
                        @b3.free('_id -> "idFormGroup", 'class -> "form-actions pull-right") {
                            <input type="submit" class="btn btn-primary" id="save" value="Save" />
                            <a href="@routes.DronesController.index()" class="btn btn-default">Back</a>
                        }
                    }

                </div>
            </div>
        </div>
    </div>

}