@import java.util
@import views.html.helpers.deleteButton
@(drones: util.List[Drone], organisationToken: String)

@main("Drones") {
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h4>Use this Organisation-Token to add a new drone: <b>@organisationToken</b></h4>
                </div>
                    <!-- /.box-header -->
                <div class="box-body">
                    <table class="table table-bordered table-hover dataTable">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Active</th>
                                <th>Token</th>
                                <th>Current Project</th>
                                <th>Current Mission State</th>
                                <th>Battery State</th>
                                <th>Payload</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                        @for(drone <- drones) {
                            <tr>
                                <th>@drone.getName</th>
                                <th>@drone.getIsActive</th>
                                <th>@drone.getToken</th>
                                <th>@if(drone.getProject != null) { @drone.getProject.getName }</th>
                                <th>@if(drone.getCurrentMission != null) { @drone.getCurrentMission.getState }</th>
                                <th>@if(drone.getRemainingBatteryPercent > 0) {
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-green" role="progressbar" aria-valuenow="@drone.getRemainingBatteryPercent"
                                        aria-valuemin="0" aria-valuemax="100" style="width: @drone.getRemainingBatteryPercent%">
                                            @drone.getRemainingBatteryPercent %
                                        </div>
                                    </div>
                                }
                                </th>
                                <th>@drone.getPayload</th>
                                <th>
                                    <a href="@controllers.routes.DronesController.edit(drone.getId)"
                                        class="btn btn-info btn-sm"
                                        role="button"
                                        id="edit-@drone.getId">Edit</a>

                                    @deleteButton(
                                        controllers.routes.DronesController.delete(drone.getId),
                                        drone.getId,
                                        "Delete Drone",
                                        "Do you want to delete this drone?"
                                    )
                                </th>
                            </tr>
                        }
                        </tbody>
                    </table>

                </div> <!-- /.box-body -->
            </div>

        </div>
    </div>

}
