@import scala._
@(title: String, styleSheets: java.util.List[String] = List(), javaScripts: java.util.List[String] = List())(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
        integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/AdminLTE.css")">
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/AdminLTE-Skin.css")">
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/spacers.css")">
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/main.css")">
        @for(styleSheetUrl <- styleSheets) {
            <link rel="stylesheet" href="@styleSheetUrl">
        }
    </head>

    <body class="hold-transition skin-blue sidebar-mini">
        <div class="wrapper">

                <!-- Main Header -->
            <header class="main-header">

                    <!-- Logo -->
                <a href="/" class="logo">
                        <!-- mini logo for sidebar mini 50x50 pixels -->
                    <span class="logo-mini"><b>H</b></span>
                        <!-- logo for regular state and mobile devices -->
                    <span class="logo-lg">PROJECT <b>HELIN</b></span>
                </a>

                    <!-- Header Navbar -->
                <nav class="navbar navbar-static-top" role="navigation">
                        <!-- Sidebar toggle button-->
                    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                        <i class="glyphicon glyphicon-menu-hamburger"></i>
                        <span class="sr-only">Toggle navigation</span>
                    </a>
                        <!-- Navbar Right Menu -->
                    <div class="navbar-custom-menu">

                        <ul class="nav navbar-nav">
                        @if(session.get(commons.SessionKey.USER_ID.name) != null) {
                            @usermenu()
                        } else {
                            <li>
                                <a href="@routes.UsersController.add()" id="register">Register</a>
                            </li>
                            <li>
                                <a href="@routes.UsersController.login()">Login</a>
                            </li>
                        }

                        </ul>
                        <ul class="nav navbar-nav">
                        @if(session.get(commons.SessionKey.USER_ID.name) != null) {
                            @if(session.get(commons.SessionKey.ORGANISATION_ID.name) == null) {
                                <li>
                                    <a href="@routes.OrganisationsController.add()" id="register-organisation">
                                        Register your Organisation</a>
                                </li>
                            } else {
                                @organisationChooser()
                            }
                        }


                        </ul>

                    </div>
                </nav>
            </header>
                <!-- Left side column. contains the logo and sidebar -->
            <aside class="main-sidebar">

                    <!-- sidebar: style can be found in sidebar.less -->
                <section class="sidebar">

                    <ul class="sidebar-menu">
                    @navigation()
                    </ul>
                        <!-- /.sidebar-menu -->
                </section>
                    <!-- /.sidebar -->
            </aside>

                <!-- Content Wrapper. Contains page content -->
            <div class="content-wrapper">
                    <!-- Content Header (Page header) -->
                <section class="content-header">
                    <h1>
                    @title
                    </h1>
                </section>

                @if(flash.containsKey("success")) {
                    <div class="well">
                        <div id="success-message" class="text-success">
                        @flash.get("success")
                        </div>
                    </div>
                }
                @if(flash.containsKey("error")) {
                    <div class="well">
                        <div id="error-message" class="text-danger">
                        @flash.get("error")
                        </div>
                    </div>
                }
                    <!-- Main content -->
                <section class="content">

                @content

                </section>
                    <!-- /.content -->
            </div>
                <!-- /.content-wrapper -->

                <!-- Main Footer -->
            <footer class="main-footer">
                    <!-- Default to the left -->
                <strong>Copyright &copy; 2016 <a href="#">Project Helin</a>.</strong> All rights reserved.
            </footer>

        </div>
    </body>


    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="@routes.Assets.at("javascripts/AdminLTE.js")" type="text/javascript"></script>
    @for(jsUrl <- javaScripts) {
        <script src="@jsUrl" type="text/javascript"></script>
        }
</html>
