
@activeLink(currentPath: Call) = @{
    if(request.path.contains(currentPath.url())) {
        "active"
    }
}

<ul class="sidebar-menu">

    <li class="@activeLink(routes.Application.index())">
        <a href="@routes.Application.index()"><i class="glyphicon glyphicon-home"></i> Home</a>
    </li>
    <li class="@activeLink(routes.MessageViewer.index())">
        <a href="@routes.MessageViewer.index()"><i class="glyphicon glyphicon-inbox"></i> Message Viewer</a>
    </li>
    <li class="@activeLink(routes.ZoneCrudController.index())">
        <a href="@routes.ZoneCrudController.index()"><i class="glyphicon glyphicon-map-marker"></i> Zone</a>
    </li>

    <li class="@activeLink(routes.ProjectsController.index(java.util.UUID.fromString("556963dd-94a3-46b0-9576-a27cb39fe62b")))">
        <a href="@controllers.routes.ProjectsController.index(java.util.UUID.fromString("556963dd-94a3-46b0-9576-a27cb39fe62b"))"><i class="glyphicon glyphicon-map-marker"></i> Project</a>
    </li>
    <li class="@activeLink(controllers.organisations.routes.Organisations.index())">
        <a href="@controllers.organisations.routes.Organisations.index()" ><i class="glyphicon glyphicon-asterisk"></i> Organisation</a>
    </li>

</ul>
