@import java.util
@(organisations: util.List[Organisation] = service.TemplateHelper.getOrganisations(session.get(service.SessionKey.USER_ID.name)))
<li class="dropdown user user-menu">
    <a href="#" class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        @session.get(service.SessionKey.ORGANISATION_NAME.name)
    <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        @for(organisation <- organisations) {

            <li>
                <div>
                    <div class="col-xs-1">
                    @if(organisation.getId.toString.equals(session.get(service.SessionKey.ORGANISATION_ID.name))) {
                        <i class="glyphicon glyphicon-ok"></i>
                    }
                    </div>
                    <div class="col-xs-10">
                        <a href="@routes.OrganisationsUsersController.setCurrentOrganisation(organisation.getId)">@organisation.getName</a>
                    </div>

                </div>
            </li>
        }

        <li>
            <a href="@routes.OrganisationsController.add()" id="register-organisation">
                Add new Organisation</a>
        </li>

    </ul>
</li>